<div class="card">
    <div class="card-image">
        <div class="cell text-center">
            <img src="{{root}}assets/img/picture/prise-de-mesure.jpg">
        </div>
    </div>
    <div class="card-divider">
        <a href="{{root}}professional.html" class="cell"><h2 class="h4">Professionnelle de la lingerie</h2></a>
    </div>
    <div class="card-section">
        <p>Nos <strong>petits conseils</strong> pour vous aider à bien <strong>choisir</strong> votre soutien-gorge.</p>
        <a href="{{root}}professional.html" class="button">Je découvre</a>
    </div>
</div>
