<div class="card">
    <div class="card-image">
        <div class="cell text-center">
            <img src="{{root}}assets/img/picture/article-juvisy.jpg">
        </div>
    </div>
    <div class="card-divider">
        <a href="{{root}}on-parle-de-nous.html" class="cell"><h2 class="h4">On parle de nous</h2></a>
    </div>
    <div class="card-section">
        <p>Article paru dans le journal de Juvisy Octobre 2018</p>
        <a href="{{root}}on-parle-de-nous.html" class="button">Je découvre</a>
    </div>
</div>
