<div class="card">
    <div class="card-image">
        <div class="cell text-center">
            <img src="{{root}}assets/img/picture/boutique-devanture.jpg">
        </div>
    </div>
    <div class="card-section">
        <p class="cell small-12">
            Boutique de lingerie multimarque,
            nous avons sélectionné pour vous des produits de qualité et des marques historiques,
            renommées pour leur savoir-faire corsetier.
            Notre devise, le bien aller de votre soutien gorge va de pair avec votre bien-être au quotidien.
        </p>
    </div>
</div>
