<div class="card">
    <div class="card-image">
        <div class="cell text-center">
            <img src="{{root}}assets/img/picture/reportage.jpg">
        </div>
    </div>
    <div class="card-divider">
        <a href="{{root}}reportage.html" class="cell"><h2 class="h4">Grands Reportages</h2></a>
    </div>
    <div class="card-section">
        <p>Reportage Découverte présentée par Anne Claire Coudray</p>
        <a href="{{root}}reportage.html" class="button">Je découvre</a>
    </div>
</div>
