<div class="card">
    <div class="card-image">
        <div class="cell text-center">
            <img src="{{root}}assets/img/picture/lingerie-maintain.jpg">
        </div>
    </div>
    <div class="card-divider">
        <a href="{{root}}lingerie-maintain.html" class="cell"><h2 class="h4">L'entretien de la lingerie</h2></a>
    </div>
    <div class="card-section">
        <p>Les Dix&nbsp;commandements pour <strong>prendre soins</strong> de votre lingeries&nbsp;!</p>
        <a href="{{root}}lingerie-maintain.html" class="button">Je découvre</a>
    </div>
</div>
