<div class="cell">
    <div class="grid-x grid-padding-x grid-margin-x grid-margin-y grid-padding-y">
        <div class="cell small-6">
            <img src="{{root}}assets/img/picture/boutique-devanture/devanture_01.jpg">
        </div>
        <div class="cell small-6">
            <div class="card">
                <div class="card-image">
                    <div class="grid-x grid-margin-x grid-padding-x grid-y grid-margin-y grid-padding-y">
                        <div class="cell">
                            <img class="thumbnail" src="{{root}}assets/img/logo/pdl-full.svg">
                        </div>
                    </div>
                </div>
                <div class="card-divider">
                    <h2 class="h4">Bienvenue chez Pierre de Lune <small>boutique de lingerie à Juvisy</small></h2>
                </div>
                <div class="card-section">
                    <p>
                        Boutique de <strong>lingerie multimarque</strong>, nous avons sélectionné pour vous des produits de qualité issues de maisons renommées pour leur savoir-faire corsetier.
                        Notre devise "le bien aller" d'un soutien-gorge va de pair avec <strong>le bien-être des femmes.</strong>
                    </p>
                    <p>
                        Puisque nous sommes toutes différentes, <strong>Pierre de Lune</strong> vous propose de la lingerie adaptée à votre morphologie,
                        <strong>du bonnet B au bonnet H</strong> (et d'autres tailles disponibles sur commande).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
