<div class="card">
    <div class="card-image">
        <div class="cell text-center">
            <img src="assets/img/picture/bustemetrerubananita.jpg">
        </div>
    </div>
    <div class="card-divider">
        <a href="professional.html" class="cell"><h2 class="h4">Pourquoi aller voir une professionnelle de la lingerie&nbsp;?</h2></a>
    </div>
    <div class="card-section">
        <p>Nos <strong>petits conseils</strong> pour vous aider à <strong>bien choisir votre soutien-gorge.</strong></p>
        <a href="professional.html" class="button">Les découvrir&nbsp;…</a>
    </div>
</div>
