<div class="grid-x grid-padding-x grid-padding-y align-middle">
    <section class="cell small-12 medium-4 medium-offset-1">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <div class="grid-x grid-padding-x align-middle text-right">
                    <div class="cell auto">
                        <div class="cell small-12"><a href="conditions-generales-de-vente.html">Conditions générales de vente</a></div>
                    </div>
                    <div class="cell shrink">
                        <i class="fi-clipboard-notes"></i>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="grid-x grid-padding-x align-middle text-right">
                    <div class="cell auto">
                        <p class="cell small-12">Ouverture du Mardi au Samedi</p>
                    </div>
                    <div class="cell shrink">
                        <i class="fi-calendar"></i>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="grid-x grid-padding-x text-right align-middle">
                    <div class="cell auto">
                        <div class="cell small-12">24 grande rue,</div>
                        <div class="cell small-12">91260 Juvisy sur Orge</div>
                    </div>
                    <div class="cell shrink">
                        <i class="fi-marker"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cell small-12 medium-4 medium-offset-1">
        <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell">
                <div class="grid-x grid-padding-x align-middle text-right">
                    <div class="cell auto">
                        <span>01 69 56 23 17</span>
                    </div>
                    <div class="cell shrink">
                        <i class="fi-telephone"></i>
                    </div>
                </div>
                <div class="grid-x grid-padding-x align-middle text-right">
                    <div class="cell auto">
                        <a href="mailto:aurely@pierredelune-juvisy.com">
                            <span>aurely@pierredelune-juvisy.com</span>
                        </a>
                    </div>
                    <div class="cell shrink">
                        <a href="mailto:aurely@pierredelune-juvisy.com">
                            <i class="fi-mail"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cell"><hr></div>
            <div class="cell">
                <div class="grid-x align-center text-center">
                    <h6 class="cell small-12">Rejoignez nous</h6>
                    <div class="cell shrink">
                        <a href="https://www.facebook.com/aurelypierredelune/" target="_blank" class="clear button"><i class="fi-social-facebook"></i></a>
                    </div>
                    <div class="cell shrink">
                        <a href="https://www.instagram.com/pierredelunelingerie/" target="_blank" class="clear button"><i class="fi-social-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
