<div class="grid-x grid-padding-x grid-margin-x align-center">

    <div class="cell small-12 medium-7 large-5">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell shrink"><i class="fi-clipboard-notes"></i></div>
            <div class="cell shrink"><a href="conditions-generales-de-vente.html">Conditions générales de vente</a></div>
        </div>
    </div>

    <div class="cell small-12 medium-7 large-5">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell shrink"><i class="fi-calendar"></i></div>
            <div class="cell auto">
                <div class="grid-x">
                    <div class="cell small-12">Ouverture du Mardi au Samedi <small>10h00 à 14h00 - 15h00 à 19h00</small></div>
                    <div class="cell small-12">Ouvert le dimanche <small>10h30 à 13h00</small></div>
                </div>
            </div>
        </div>
    </div>

    <div class="cell small-12 medium-7 large-5">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell shrink"><i class="fi-marker"></i></div>
            <div class="cell auto">
                <div class="grid-x">
                    <div class="cell small-12">24 grande rue,</div>
                    <div class="cell small-12">91260 Juvisy sur Orge</div>
                </div>
            </div>
        </div>
    </div>

    <div class="cell small-12 medium-7 large-5">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell shrink"><i class="fi-telephone"></i></div>
            <div class="cell shrink">01 69 56 23 17</div>
        </div>
    </div>

    <div class="cell small-12 medium-7 large-5">
        <div class="grid-x grid-padding-x align-middle">
            <div class="cell shrink"><a href="mailto:aurely@pierredelune-juvisy.com"><i class="fi-mail"></i></a></div>
            <div class="cell shrink"><a href="mailto:aurely@pierredelune-juvisy.com"><span>aurely@pierredelune-juvisy.com</span></a></div>
        </div>
    </div>

    <div class="cell small-12 medium-7 large-5">
        {{> social}}
    </div>
</div>
