<div class="grid-x grid-padding-x grid-padding-y text-center">
    <div class="cell">
        <img src="assets/img/logo/pdl-text.svg" alt="Pierre de Lune">
    </div>
    <div class="cell">
        <div data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="expanded button primary hollow" data-toggle="responsive-menu">Nos partenaires</button>
        </div>
    </div>
    <div class="cell">
        <div class="stacked-for-medium stacked-for-large">
            <div id="responsive-menu" >
                <nav>
                    <ul class="vertical menu align-center">
                        <li>
                            <ul class="nested vertical menu">
                                <li><a href="#0">Anita</a></li>
                                <li><a href="#0">Aubade</a></li>
                                <li><a href="#0">Calida</a></li>
                                <li><a href="#0">Implicite</a></li>
                                <li><a href="#0">Marie Jo</a></li>
                                <li><a href="#0">Prima Donna</a></li>
                                <li><a href="#0">Simone Pérèle</a></li>
                            </ul>
                        </li>
                        <hr>
                        <li>
                            <ul class="nested vertical menu">
                                <li><a href="#0">Lingerie spécialisée</a></li>
                            </ul>
                        </li>
                        <hr>
                        <li>
                            <ul class="nested vertical menu">
                                <li><a href="#0">Satellite Bijoux</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>