<div class="grid-x grid-padding-x grid-padding-y text-center">
    <div class="cell">
        <img src="{{root}}assets/img/logo/pdl-text.svg" alt="Pierre de Lune">
    </div>
    <div class="cell">
        <div data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="expanded button primary hollow" data-toggle="responsive-menu">Nos partenaires</button>
        </div>
    </div>
    <div class="cell">
        <div class="stacked-for-medium stacked-for-large">
            <div id="responsive-menu" >
                <nav>
                    <ul class="vertical menu align-center">
                        <li>
                            <ul class="nested vertical menu">
                                <li><a href="{{root}}partenaires/anita.html">Anita</a></li>
                                <li><a href="{{root}}partenaires/aubade.html">Aubade</a></li>
                                <li><a href="{{root}}partenaires/calida.html">Calida</a></li>
                                <li><a href="{{root}}partenaires/implicite.html">Implicite</a></li>
                                <li><a href="{{root}}partenaires/marie-jo.html">Marie Jo</a></li>
                                <li><a href="{{root}}partenaires/prima-donna.html">Prima Donna</a></li>
                                <li><a href="{{root}}partenaires/simone-perele.html">Simone Pérèle</a></li>
                            </ul>
                        </li>
                        <hr>
                        <li>
                            <ul class="nested vertical menu">
                                <li><a href="{{root}}partenaires/satellite.html">Satellite Bijoux</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>