<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Boutique de lingerie multimarque à Juvisy sur Orge">
<meta name="keywords" content="Lingerie, Bijoux, Anita, Aubade, Calida, Implicite, Marie Jo, Prima Donna, Satellite Bijoux, Simone Pérèle, Juvisy, Juvisy sur Orge">
<meta name="author" content="Pierre de Lune">

<meta property="og:image" content="{{root}}assets/img/page/index.jpg">
<meta property="og:type" content="website">
<meta property="og:url" content="www.pierre-de-lune-juvisy.com/{{root}}{{page}}.html">
<meta property="og:description" content="Boutique de lingerie multimarque à Juvisy sur Orge">