<div class="grid-x align-center">
    <div class="cell small-12">
        <h6 class="text-center">Rejoignez nous</h6>
    </div>
    <div class="cell shrink">
        <a href="https://www.facebook.com/aurelypierredelune/" target="_blank" class="clear button"><i class="fi-social-facebook"></i></a>
    </div>
    <div class="cell shrink">
        <a href="https://www.instagram.com/pierredelunelingerie/" target="_blank" class="clear button"><i class="fi-social-instagram"></i></a>
    </div>
</div>
