<nav>
    <ul class="vertical menu align-center">
        <li>
            <ul class="nested vertical menu">
                <li><a href="{{root}}partenaires/anita.html">Anita <small>lingerie spécialisée</small></a></li>
                <li><a href="{{root}}partenaires/aubade.html">Aubade</a></li>
                <li><a href="{{root}}partenaires/calida.html">Calida</a></li>
                <li><a href="{{root}}partenaires/implicite.html">Implicite</a></li>
                <li><a href="{{root}}partenaires/marie-jo.html">Marie Jo</a></li>
                <li><a href="{{root}}partenaires/prima-donna.html">Prima Donna</a></li>
                <li><a href="{{root}}partenaires/simone-perele.html">Simone Pérèle</a></li>
            </ul>
        </li>
    </ul>
</nav>
