<!doctype html>
<html class="no-js" lang="fr" dir="ltr">
<head>
    <title>Pierre de Lune</title>
    {{> meta}}
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/font/foundation-icons/foundation-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body class="index default">
    <div class="grid-container full">
        <div class="grid-x">
            <header class="cell">
                <div class="grid-x grid-padding-x grid-padding-y">
                    <div class="cell small-12 medium-8">
                        {{> header}}
                    </div>
                    <div class="cell small-12 medium-4 footer self-align-middle">
                        {{> informations}}
                    </div>
                </div>
            </header>
            <section class="cell">
                <div class="grid-x grid-padding-y">
                    <div class="cell small-12 medium-6 medium-offset-3 large-4 large-offset-4">
                        {{> back-home}}
                    </div>
                    <section class="cell">
                        {{> body}}
                    </section>
                    <div class="cell small-12 medium-6 medium-offset-3 large-4 large-offset-4">
                        {{> back-home}}
                    </div>
                </div>
            </section>
            <footer class="cell">
                {{> footer}}
            </footer>
        </div>
    </div>
    <script language="JavaScript" type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>
